.booking__form{
    width: 45%;
}

.booking__form input {
    padding: 8px 15px;
    border: 1px solid #7c8a972a;
    color: #7c8a97;
    border-radius: 4px;
    width: 100%;
}

.booking__form select,
.textarea {
    width: 100%;
    padding: 10px 15px;
    color: #7c8a97;
    border: 1px solid #7c8a972a;
    border-radius: 4px;
}

.time__picker::before {
    content: 'Journey Time';
    color: #7c8a97;
}

.textarea:focus,
.booking__form input:focus,
.booking__form select:focus {
    outline: none;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.submit__btn {
  padding: 7px 15px;
  background:#000d6b;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 15px;
  transition: 0.3s;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  box-shadow: 0px 5px 5px #ccc;
}